<html>
        <head>
            <title>blozhik</title>
         <html>
        <head>
            <title>Django Girls blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">Django Girls Blog</a></h1>
            </div>

            <div>
                <p>published: 01.10.2017, 15:15</p>
                <h2><a href="">My first post</a></h2>
                <p>Хееей-хей-хей!
                Long writing activities are not very frequently done in class. I tend to think that my students are like me; I need the right kind of atmosphere. Writing requires time, silence and lots of inspiration. Ideally, at this time of the year, I would probably wish to be sitting next to a fireplace with the most perfect instagrammable snow falling outside my window while drinking a nice cup of coffee waiting for inspiration to strike. Unfortunately, there isn’t any snow where I live so I’ll have to make do with a bit of rain and some reddish trees. Note: you won’t find “instagrammable” in the dictionary 🙂

Inspiration, the most important word when writing and something my students claim to lack. Inspiration won’t come from your computer screen, but Internet can certainly help you a lot when struggling to find the right word. 

These are some great sites that can help you make your writing .</p>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">My second post</a></h2>
                <p>2. Skell (Sketch Engine for Language Learning) explores the English language in more than one billion words from news, scientific papers, Wikipedia articles, fiction books, web pages, and blogs.

Skell is easy to use.

Search for a word or a phrase.
Click on Examples to get the most presentable sentences containing this word.
Click on Word sketch to get a list of words which occur frequently together with the searched word.
Click on Similar words (not only synonyms) where you’ll find words used in similar contexts visualized with a word cloud..</p>
            </div>
        </body>
    </html>